@import './reset.css';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/openSans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/openSans/OpenSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/openSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/openSans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oswald/Oswald-Light.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald/Oswald-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald/Oswald-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/oswald/Oswald-Bold.ttf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
  font: normal normal 10px/1.2 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html,
body * {
  box-sizing: border-box;
}

button,
input,
select,
table,
textarea {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
  vertical-align: top;
}
button {
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
input {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::placeholder {
  color: #fff;
}
input:-ms-input-placeholder {
  color: #fff;
}
.inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 5px;
  }

  body {
    min-width: 360px;
  }

  .inner {
    padding: 0 4rem;
  }

  section h2 {
    font-size: 6rem;
  }
  section h2 + h3 {
    margin-top: 1.2rem;
  }

  section h3 {
    font-weight: normal;
    font-size: 4rem;
  }

  section .desc {
    margin-top: 4rem;
    font-size: 2.4rem;
    color: #aa8df4;
    line-height: 1.5;
  }
  section .desc.v2 {
    margin-top: 8rem;
    font-size: 2.8rem;
    color: #c7b2fc;
    line-height: 1.5;
  }
  section .desc + .desc {
    margin-top: 4.6rem;
  }
  section .desc + h3 {
    margin-top: 5rem;
  }

  .fixed body {
    overflow: hidden;
  }

  .select-form {
    position: relative;
  }
  .select-form .default-select {
    display: block;
    width: 100%;
    height: 12.4rem;
    padding: 3rem 7rem 4.05rem;
    font-weight: 400;
    font-size: 4rem;
    color: #fff;
    background-color: #532bb0;
    border-radius: 3.6rem;
    border: none;
  }

  .select-form::after {
    content: '';
    position: absolute;
    top: 33%;
    right: 5rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-top-width: 4rem;
    border-bottom-width: 4rem;
    border-left-width: 2.8rem;
    border-right-width: 2.8rem;
    border-color: transparent;
    border-top-color: #7c4be6;
  }

  footer {
    padding: 12rem 4rem;
    background-color: #180b38;
    text-align: center;
  }
  footer .footer-logo {
    display: inline-block;
    width: 21rem;
    height: 3rem;
  }
  footer .ico-lists {
    margin-top: 6rem;
  }
  footer .ico-lists .ico {
    display: inline-block;
    width: 6.6rem;
    height: 6.6rem;
  }
  footer .ico-lists .ico + .ico {
    margin-left: 0.8rem;
  }
  footer address {
    margin-top: 6rem;
    font-size: 2rem;
    color: #574597;
  }
}
