.visual {
  overflow: hidden;
  position: relative;
  height: 100rem;
  padding-top: 4.8rem;
  background: linear-gradient(#47229c, #2b1460);
}

.visual .inner::after {
  content: '';
  position: absolute;
  top: 2.2rem;
  left: 0;
  z-index: 1;
  width: 142.9rem;
  height: 87.9rem;
  background: url(../images/bg_pc_visual.png) 50% 0 no-repeat;
  background-size: 100% auto;
}
.visual .desc {
  width: 42rem;
}

.visual .btn-area {
  margin-top: 2.7rem;
}

.visual .btn-area .btn {
  display: inline-block;
}

.visual .btn-area .btn + .btn {
  margin-left: 1.3rem;
}

@media screen and (max-width: 1024px) {
  .visual {
    height: 187rem;
    padding-top: 12rem;
  }

  .visual .inner::after {
    content: '';
    position: absolute;
    top: auto;
    left: auto;
    bottom: -7rem;
    right: 0;
    z-index: 1;
    width: 68rem;
    height: 133.2rem;
    background: url(../images/bg_visual.png) 100% 0 no-repeat;
    background-size: 100% auto;
  }
  .visual .desc {
    width: 100%;
  }

  .visual .btn-area {
    margin-top: 4rem;
  }

  .visual .btn-area .btn {
    width: 22rem;
    height: 8.8rem;
  }

  .visual .btn-area .btn + .btn {
    margin-left: 2rem;
  }

  .online-service {
    position: relative;
    padding-top: 20rem;
    padding-bottom: 10rem;
    background: linear-gradient(#421f91, #210f4c);
  }
  .online-service .btn-area {
    margin-top: 4rem;
  }
  .online-service .btn-area .btn {
    display: block;
    margin: 0 auto;
  }
  .online-service .btn-area .btn + .btn {
    margin-top: 4rem;
  }

  .own-2-earn {
    position: relative;
    padding-top: 12rem;
    padding-bottom: 26rem;
    background: linear-gradient(#421f90, #210f4c);
  }
  .own-2-earn .img-area {
    margin-top: 8rem;
    text-align: center;
  }
  .own-2-earn .btn-area {
    margin-top: 14rem;
    text-align: center;
  }
  .own-2-earn .btn-area .btn-move {
    display: inline-block;
    padding: 2.4rem 1.4em 3.6rem;
    font-size: 3.6rem;
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #532bb0;
    border-radius: 5rem;
  }

  .benefits {
    position: relative;
    padding-top: 14rem;
    padding-bottom: 14rem;
    background: linear-gradient(#421f90, #210f4c);
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .benefits .select-area {
    margin-top: 12rem;
    padding: 0 6rem;
    text-align: center;
  }
  .benefits .select-area .title {
    display: block;
    margin-bottom: 6rem;
    font-weight: normal;
    font-size: 6rem;
    color: #ffba00;
  }
  .benefits .select-form {
    position: relative;
  }
  .benefits .select-form + .select-form {
    margin-top: 1.2rem;
  }
  .benefits .input-form {
    margin-top: 6rem;
  }
  .benefits .input-form .sub-title {
    display: block;
    padding-left: 7rem;
    font-size: 4rem;
    text-align: left;
  }
  .benefits .input-form .price-box {
    width: 100%;
    height: 12.4rem;
    margin-top: 2rem;
    padding: 1.5rem 7rem 4.05rem;
    font-weight: 400;
    font-size: 4rem;
    color: #fff;
    background-color: #3f2178;
    border-radius: 3.6rem;
  }
  .benefits .input-form .price-box p {
    position: relative;
    padding-right: 6.4rem;
    font-size: 4.8rem;
    line-height: 1.7;
  }
  .benefits .input-form .price-box p::after {
    content: 'ETH';
    position: absolute;
    top: 0.5rem;
    right: 0;
    font-size: 4rem;
    font-weight: 300;
    color: #ffba00;
  }
  .benefits .input-form.rate .price-box {
    height: 19.8rem;
    padding: 1rem 7rem 4.05rem;
  }
  .benefits .input-form.rate .price-box p {
    padding-right: 0;
    font-size: 10rem;
  }
  .benefits .input-form.rate .price-box p::after {
    content: '%';
    display: inline-block;
    position: relative;
    top: 0;
    margin-left: 0.8rem;
    font-size: 8.2rem;
    font-weight: 400;
  }
  .benefits .ico-arrow {
    margin: 12rem 0;
  }
  .benefits .result {
    margin-top: 10rem;
    font-size: 2.8rem;
    color: #b093f7;
    line-height: 1.7;
  }

  .whitelist {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: linear-gradient(#46219a, #241053);
  }
  .whitelist h3 {
    color: #ffc000;
  }
  .whitelist .logout {
    margin-top: 8rem;
  }
  .whitelist .img-area {
    margin-bottom: 8rem;
    text-align: center;
  }
  .whitelist .btn-area {
    text-align: center;
  }
  .whitelist .btn-area strong {
    display: block;
    font-size: 3.6rem;
  }
  .whitelist .btn-area .btn {
    display: block;
    width: 48.4rem;
    margin: 6rem auto 0;
    padding: 3rem 7rem 4.05rem;
    font-weight: 400;
    font-size: 4.8rem;
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #6132c8;
    border-radius: 4.4rem;
  }
  .whitelist .btn-area .btn + .btn {
    margin-top: 2rem;
  }

  .whitelist .login {
    margin-top: 7.5rem;
  }
  .whitelist .login p {
    font-size: 3.6rem;
    text-align: center;
  }
  .whitelist .login p strong {
    color: #00f0ff;
  }
  .whitelist .login p + p {
    margin-top: 4rem;
  }
  .whitelist .count-box {
    margin-top: 6rem;
    padding: 0 3.2rem;
  }
  .whitelist .count-box li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .whitelist .count-box li .img-box {
    width: 29rem;
    height: 29rem;
  }
  .whitelist .count-box li .select-form {
    min-width: 28rem;
    margin-left: 2rem;
  }
  .whitelist .count-box li .select-form strong {
    display: block;
    font-weight: 400;
    font-size: 4.8rem;
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffba00;
  }
  .whitelist .count-box li .select-form .default-select {
    height: 8.2rem;
    margin-top: 2rem;
    padding: 0 4.6rem;
    font-size: 2.6rem;
    border-radius: 2.2rem;
  }
  .whitelist .count-box li .select-form::after {
    top: 67%;
    right: 3rem;
    border-top-width: 2.5rem;
    border-bottom-width: 2.5rem;
    border-left-width: 1.5rem;
    border-right-width: 1.5rem;
  }
}
