@import './reset.css';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/openSans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/openSans/OpenSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/openSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/openSans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oswald/Oswald-Light.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald/Oswald-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald/Oswald-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/oswald/Oswald-Bold.ttf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
  font: normal normal 10px/1.2 'Open Sans', 'Helvetica Neue', Helvetica, Arial, -apple-system, 'Apple SD Gothic Neo',
    sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald';
}
html,
body * {
  box-sizing: border-box;
}

button,
input,
select,
table,
textarea {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
  vertical-align: top;
}
button {
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
input {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::placeholder {
  color: #fff;
}
input:-ms-input-placeholder {
  color: #fff;
}
.inner {
  position: relative;
  max-width: 1220px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

html {
  background-color: #202020;
}
main {
  background-color: #000;
}

section h2 {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-weight: 300;
  font-size: 5.4rem;
  color: #fff;
  text-transform: uppercase;
}
section h2::before {
  content: '*';
  position: absolute;
  top: -2rem;
  right: -3rem;
  font-weight: 400;
  font-size: 7rem;
  color: #eb1616;
}
section .desc {
  margin-top: 1rem;
  font-weight: 300;
  font-family: 'Oswald';
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
  text-transform: uppercase;
}

.btn-more-info {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1.1rem 2.3rem 1.1rem 4.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  background: #eb1616;
}
.btn-more-info::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1.9rem;
  width: 1.3rem;
  height: 0.1rem;
  background-color: #fff;
}
.btn-more-info::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2.5rem;
  width: 0.1rem;
  height: 1.4rem;
  transform: translateY(-50%);
  background-color: #fff;
}

.guide-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.guide-form li {
  padding-left: 1.7rem;
  border-left: 0.1rem solid #fff;
}
.guide-form li strong {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 3.2rem;
  font-family: 'Oswald';
  text-transform: uppercase;
}
.guide-form li strong + p {
  margin-top: 1rem;
}
.guide-form li strong::before {
  content: '*';
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  font-weight: 400;
  font-size: 4rem;
  color: #eb1616;
}
.guide-form li p {
  font-weight: 300;
  font-size: 1.6rem;
  font-family: 'Oswald';
  line-height: 1.5;
}
.guide-form li .hash {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.2rem 2rem 0.2rem 0;
  font-size: 1.8rem;
  font-family: 'Oswald';
  color: #eb4316;
  background-color: #000;
}
.guide-form li button {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.1rem 1.4rem 1.1rem 4.5rem;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-color: #eb1616;
}
.guide-form li .btn-join-discord {
  padding-left: 5.2rem;
  background-position: 0.8rem 50%;
  background-size: 3.8rem auto;
  background-image: url(../images/ico_discord_w.png);
}
.guide-form li .btn-metamask {
  margin-top: 4.7rem;
  background-position: 1.5rem 50%;
  background-size: 2.2rem auto;
  background-image: url(../images/ico_metamask.png);
}
.guide-form li .btn-metamask.connect {
  background-color: #752ebc;
}

.play-game {
  position: relative;
  max-width: 1156px;
  margin-top: 2.4rem;
}
.play-game .mobile {
  display: none;
}
.play-game.coming-soon::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../images/bg_coming_soon.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}
.play-game.coming-soon::after {
  content: '';
  position: absolute;
  left: 0.2rem;
  bottom: 0.2rem;
  width: 32.1rem;
  height: 30.7rem;
  background-image: url(../images/bg_person_bigwheel.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}
.play-game .btn-play-game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 24.6rem;
  height: 24.6rem;
  margin: auto;
  padding-top: 5.5rem;
  background-image: url(../images/btn_play.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
  font-weight: 300;
  font-family: 'Oswald';
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.nav-fixed header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.2rem;
  z-index: 10;
}
.nav-fixed main {
  padding-top: 7.2rem;
}

/* header */
header {
  position: relative;
  width: 100%;
  height: 7.2rem;
  background-color: #202020;
}
header h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19rem;
  height: 100%;
}
header h1 a {
  display: block;
  height: 100%;
  position: relative;
  background: url(../images/img_logo.png) no-repeat 2rem 50% / 16rem auto;
  text-indent: -9999rem;
}
header .btn-nav-toggle {
  display: none;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-family: 'Oswald';
}
header nav .nav-inner {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: inline-block;
  height: 100%;
}
header nav li {
  display: inline-block;
  height: 100%;
}
header nav li a {
  display: block;
  height: 100%;
  padding: 0 2rem;
}
header nav li a span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}
header nav li a span:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0.7rem;
  margin: auto;
  background-color: #eb1616;
  transition: 0.4s;
  opacity: 0;
}
header nav li .active span:before,
header nav li a:hover span:before {
  width: 100%;
  height: 0.7rem;
  opacity: 1;
}
header .btn-group {
  display: inline-block;
  margin-left: 1rem;
}
header .btn-discord {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../images/ico_discord.png) no-repeat 50% 50% / 5rem auto;
  text-indent: -999rem;
}
header .btn-twitter {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  background: url(../images/ico_twitter.png) no-repeat 50% 50% / 5rem auto;
  text-indent: -999rem;
}
header .gnb-login {
  display: inline-block;
}
header .btn-metamask {
  display: inline-block;
  margin: 0 2rem;
  padding: 1rem 2rem 1rem 4.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  background: #eb1616 url(../images/ico_metamask.png) no-repeat 1.5rem 50% / 2.2rem auto;
}
header .btn-gnb-login {
  display: inline-block;
  margin: 0 2rem;
  padding: 1rem 2.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  background-color: #1681eb;
}

/* footer */
footer {
  width: 100%;
  padding: 2rem 0;
  font-family: 'Oswald';
  background-color: #202020;
  text-align: center;
}
footer .inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a,
footer span {
  display: inline-block;
}
footer .footer-logo {
  width: 14rem;
  height: 1.8rem;
  background: url(../images/img_logo.png) no-repeat 50% 50% / 12.4rem auto;
  text-indent: -9999rem;
}
footer span {
  font-weight: 300;
  font-size: 1.5rem;
  color: #646464;
}

/* modal common */
.pop-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.pop-modal .modal-dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.pop-modal .modal-content {
  position: absolute;
  width: 90%;
  max-width: 100rem;
  max-height: 80%;
  padding: 3rem;
  background-color: #202020;
  text-align: center;
  border: 0.2rem solid #ec1616;
  box-sizing: border-box;
}
.pop-modal .btn-modal-base {
  display: inline-block;
  min-width: 15.7rem;
  padding: 1rem 1.8rem 1.1rem;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  background-color: #ec1616;
}
.pop-modal .btn-modal-base + .btn-modal-base {
  margin-left: 1rem;
}

/* modal alert */
.pop-modal.modal-alert .modal-content {
  width: 46%;
  max-width: 80rem;
}
.pop-modal.modal-alert .modal-content p {
  padding-bottom: 3rem;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
}

.pop-modal .modal-content-player {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70rem;
  height: 70rem;
  margin: auto;
  padding: 0;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pop-modal .modal-content-player .btn-close {
  position: absolute;
  top: -5rem;
  right: 0;
  width: 5rem;
  height: 5rem;
  background-color: #eb1616;
  text-indent: -999rem;
}
.pop-modal .modal-content-player .btn-close::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 3.5rem;
  height: 0.2rem;
  margin: auto;
  background-color: #fff;
  transform: rotate(45deg);
}
.pop-modal .modal-content-player .btn-close::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 3.5rem;
  height: 0.2rem;
  margin: auto;
  background-color: #fff;
  transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 5px;
  }
  body {
    min-width: 360px;
  }
  .inner {
    padding: 0 3.8rem;
  }

  .nav-fixed header {
    height: 10.8rem;
  }
  .nav-fixed main {
    padding-top: 10.8rem;
  }

  .guide-form {
    display: block;
  }
  .guide-form li + li {
    margin-top: 4rem;
  }
  .guide-form li {
    min-height: auto;
    padding-right: 18rem;
  }
  .guide-form li .btn-metamask {
    margin-top: 2rem;
  }
  .guide-form li p {
    font-size: 2rem;
  }

  .btn-more-info {
    margin-top: 1.4rem;
    font-size: 1.8rem;
  }

  .play-game {
    max-width: 100%;
    margin-top: 5rem;
  }
  .play-game .pc {
    display: none;
  }
  .play-game .mobile {
    display: block;
    width: 100%;
  }
  .play-game .btn-play-game {
    width: 19.8rem;
    height: 19.8rem;
    font-size: 2.4rem;
    background-image: url(../images/btn_play_m.png);
  }
  .play-game.coming-soon::before {
    top: 0.3rem;
    left: 0.3rem;
    right: 0.3rem;
    bottom: 0.3rem;
    background-image: url(../images/bg_coming_soon_m.png);
  }
  .play-game.coming-soon::after {
    left: 0.3rem;
    bottom: 0.3rem;
    width: 18.2rem;
    height: 17.4rem;
  }

  /* header */
  header {
    height: 10.8rem;
  }
  header h1 {
    width: 32rem;
  }
  header h1 a {
    display: block;
    height: 100%;
    position: relative;
    background: url(../images/img_logo.png) no-repeat 4rem 50% / 26rem auto;
    text-indent: -9999rem;
  }
  header .btn-nav-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
    height: 10.8rem;
    z-index: 5;
  }
  header .btn-nav-toggle span {
    position: absolute;
    top: 5rem;
    right: 0;
    left: 0;
    width: 5.5rem;
    height: 0.8rem;
    margin: auto;
    background-color: #eb1616;
    box-sizing: border-box;
    border-radius: 4rem;
    text-indent: -999rem;
    transition: 0.5s;
  }
  header .btn-nav-toggle span:before {
    content: '';
    position: absolute;
    top: -2.1rem;
    right: 0;
    left: 0;
    width: 5.5rem;
    height: 0.8rem;
    margin: auto;
    background-color: #eb1616;
    border-radius: 4rem;
    box-sizing: border-box;
    transition: 0.5s;
  }
  header .btn-nav-toggle span:after {
    content: '';
    position: absolute;
    top: 2.1rem;
    right: 0;
    left: 0;
    width: 5.5rem;
    height: 0.8rem;
    margin: auto;
    background-color: #eb1616;
    border-radius: 4rem;
    box-sizing: border-box;
    transition: 0.5s;
  }
  header.mobile-nav .btn-nav-toggle {
    width: 15rem;
  }
  header.mobile-nav .btn-nav-toggle span {
    height: 1px;
    background-color: transparent;
  }
  header.mobile-nav .btn-nav-toggle span:before {
    top: 2rem;
    width: 7rem;
    height: 0.5rem;
    transform: rotate(45deg);
  }
  header.mobile-nav .btn-nav-toggle span:after {
    top: 2rem;
    width: 7rem;
    height: 0.5rem;
    transform: rotate(-45deg);
  }
  header.mobile-nav nav {
    right: 0;
    opacity: 1;
  }
  header nav {
    display: block;
    position: fixed;
    top: 0;
    right: -45rem;
    width: 45rem;
    height: auto;
    background-color: #fff;
    transition: 0.3s;
    opacity: 0;
    z-index: 3;
  }
  header nav .nav-inner {
    display: block;
    height: 100%;
    padding-top: 15rem;
  }
  header nav ul {
    display: block;
    height: auto;
  }
  header nav li {
    display: block;
    height: 8rem;
  }
  header nav li a {
    display: block;
    padding: 0 2rem 0 6rem;
    text-align: left;
  }
  header nav li a span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
    font-weight: 300;
    font-size: 3.6rem;
    color: #202020;
  }
  header nav li a span:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0.7rem;
    margin: auto;
    background-color: #eb1616;
    transition: 0.4s;
    opacity: 0;
  }
  header nav li .active span:before,
  header nav li a:hover span:before {
    width: 100%;
    height: 0.7rem;
    opacity: 0;
  }
  header .btn-group {
    display: block;
    margin: 0;
    padding: 3rem 0 5.5rem 6rem;
  }
  header .btn-discord {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    background: #eb1616 url(../images/ico_discord_w.png) no-repeat 50% 50% / 7rem auto;
    border-radius: 100%;
  }
  header .btn-twitter {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    margin-left: 2rem;
    background: #eb1616 url(../images/ico_twitter_w.png) no-repeat 50% 50% / 7rem auto;
    border-radius: 100%;
  }
  header .gnb-login {
    display: block;
    padding-top: 5.5rem;
  }
  header .btn-metamask {
    display: block;
    margin: 0;
    padding: 2rem 3rem 2rem 8rem;
    font-weight: 400;
    font-size: 2.6rem;
    color: #fff;
    background: #eb1616 url(../images/ico_metamask.png) no-repeat 2.5rem 50% / 4rem auto;
  }
  header .btn-gnb-login {
    display: block;
    margin: 0;
    padding: 2rem 5rem;
    font-weight: 400;
    font-size: 2.6rem;
    color: #fff;
    background-color: #1681eb;
  }

  /* footer */
  footer {
    width: 100%;
    padding: 5rem 0;
  }
  footer .footer-logo {
    width: 22rem;
    height: 3rem;
    background: url(../images/img_logo.png) no-repeat 50% 50% / 18rem auto;
  }
  footer span {
    font-size: 2.2rem;
  }

  /* modal common */
  .pop-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  .pop-modal .modal-dimmed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .pop-modal .modal-content {
    position: absolute;
    width: 90%;
    max-width: 100rem;
    max-height: 80%;
    padding: 5rem 3rem;
    background-color: #202020;
    text-align: center;
    border: 0.4rem solid #ec1616;
    box-sizing: border-box;
  }
  .pop-modal .btn-modal-base {
    display: inline-block;
    min-width: 19.7rem;
    padding: 1.4rem 2.4rem 1.5rem;
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
    background-color: #ec1616;
  }
  .pop-modal .btn-modal-base + .btn-modal-base {
    margin-left: 1rem;
  }

  /* modal alert */
  .pop-modal.modal-alert .modal-content {
    width: 80%;
    max-width: 80rem;
    padding: 8rem 8rem 6rem;
  }
  .pop-modal.modal-alert .modal-content p {
    padding-bottom: 7rem;
    font-size: 2.4rem;
    text-align: center;
  }
}
