@import './reset.css';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/openSans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/openSans/OpenSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/openSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/openSans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oswald/Oswald-Light.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald/Oswald-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald/Oswald-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/oswald/Oswald-Bold.ttf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
  font: normal normal 10px/1.2 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    -apple-system, 'Apple SD Gothic Neo', sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald';
}
html,
body * {
  box-sizing: border-box;
}

button,
input,
select,
table,
textarea {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
  vertical-align: top;
}
button {
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
input {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::placeholder {
  color: #fff;
}
input:-ms-input-placeholder {
  color: #fff;
}
.inner {
  position: relative;
  max-width: 1220px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}


.nav-fixed header{position:fixed; top:0; left:0; width:100%; height:7.2rem; z-index:10;}
.nav-fixed main{padding-top:7.2rem;}
header{position:relative; width:100%; height:7.2rem; background-color:#202020;}
header h1{position:absolute; top:0; left:0; width:19rem; height:100%;}
header h1 a{display:block; height:100%; position:relative; background:url(../images/img_logo.png) no-repeat 2rem 50% / 16rem auto; text-indent:-9999rem;}
header .btn-nav-toggle{display:none;}
header nav{display:flex; justify-content:flex-end; align-items:center; height:100%; font-family:'Oswald';}
header nav .nav-inner{display:flex; height:100%; justify-content:center; align-items:center;}
header nav ul{display:inline-block; height:100%;}
header nav li{display:inline-block; height:100%;}
header nav li a{display:block; height:100%; padding:0 2rem;}
header nav li a span{display:flex; justify-content:center; align-items:center; position:relative; height:100%; font-weight:400; font-size:1.5rem; color:#fff;}
header nav li a span:before{content:''; position:absolute; top:0; right:0; left:0; width:0; height:.7rem; margin:auto; background-color:#eb1616; transition:.4s; opacity:0;}
header nav li .active span:before, header nav li a:hover span:before{width:100%; height:.7rem; opacity:1;}
header .btn-group{display:inline-block; margin-left:1rem;}
header .btn-discord{display:inline-block; width:5rem; height:5rem; background:url(../images/ico_discord.png) no-repeat 50% 50% / 5rem auto; text-indent:-999rem;}
header .btn-twitter{display:inline-block; width:5rem; height:5rem; margin-left:1rem; background:url(../images/ico_twitter.png) no-repeat 50% 50% / 5rem auto; text-indent:-999rem;}
header .gnb-login{display:inline-block;}
header .btn-metamask{display:inline-block; margin:0 2rem; padding:1rem 2rem 1rem 4.5rem; font-weight:400; font-size:1.4rem; color:#fff; background:#eb1616 url(../images/ico_metamask.png) no-repeat 1.5rem 50% / 2.2rem auto;}
header .btn-gnb-login{display:inline-block; margin:0 2rem; padding:1rem 2.5rem; font-weight:400; font-size:1.4rem; color:#fff; background-color:#1681eb;}

footer{width:100%; padding:2rem 0; font-family:'Oswald'; background-color:#202020; text-align:center;}
footer a, footer span{display:inline-block;}
footer .footer-logo{width:14rem; height:1.8rem; background:url(../images/img_logo.png) no-repeat 50% 50% / 12.4rem auto; vertical-align:text-bottom; text-indent:-9999rem;}
footer span{font-weight:300; font-size:1.5rem; color:#646464;}

@media screen and (max-width: 1024px) {

}