/* video-poker */
.video-poker{position:relative; width:100%; min-height:94.2rem; background:#000 url(../images/bg_videopoker.jpg) no-repeat 50% 0 / auto 100%;}
.video-poker .video-poker-box{position:absolute; top:5rem; right:0; left:0; width:calc(100% - 8rem); max-width:128rem; height:72rem; margin:auto; background-color:#111; border:1px solid #000; box-sizing:border-box;}
.video-poker .video-poker-box iframe{width:100%; height:100%;}
.video-poker .btn-game-close{position:absolute; top:0; right:-4rem; width:4rem; height:4rem; background-color:#333; text-indent:-999rem;}
.video-poker .btn-game-close:before{content:''; position:absolute; top:0; right:0; bottom:0; left:0; width:.2rem; height:3rem; margin:auto; background-color:#fff; transform:rotate(45deg);}
.video-poker .btn-game-close:after{content:''; position:absolute; top:0; right:0; bottom:0; left:0; width:.2rem; height:3rem; margin:auto; background-color:#fff; transform:rotate(-45deg);}

@media screen and (max-width: 1024px) {
  .video-poker .video-poker-box{top:0; width:100%; max-width:100%; height:100%;}
  .video-poker .btn-game-close{display:none;}
}