/* home */
.home {
  padding: 25.5rem 0 0;
  min-height: 94.2rem;
  background-image: url(../images/bg_home.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.home h2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -3.6rem;
  bottom: 0.9rem;
  z-index: -1;
  background-color: #000;
}
.home .desc {
  position: relative;
  z-index: 1;
  margin-top: 2.5rem;
}
.home .desc::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.2rem;
  right: -0.5rem;
  bottom: -2.7rem;
  z-index: -1;
  background-color: #000;
}
.home .btn-more-info {
  margin-top: 1.5rem;
}
.home .title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .guide-form {
  margin-top: 8rem;
}
.home .guide-form li {
  flex: 0 0 33%;
  min-height: 13rem;
  padding-left: 1.7rem;
}
.home .btn-play-game {
  display: inline-block;
  width: 25.4rem;
  height: 25.4rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
  background-image: url(../images/btn_play_game.png);
  text-indent: -9999rem;
}

/* baccarat */
.baccarat {
  padding: 6rem 0;
  min-height: 94.2rem;
  background-image: url(../images/bg_baccarat.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.baccarat .play-game {
  max-width: 1156px;
  margin-top: 2.4rem;
}
.baccarat .guide-form,
.bigwheel .guide-form,
.lotto .guide-form {
  display: none;
}

.bigwheel {
  padding: 6rem 0;
  min-height: 94.2rem;
  background-image: url(../images/bg_bigwheel.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.lotto {
  padding: 6rem 0;
  min-height: 94.2rem;
  background-image: url(../images/bg_lotto.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.lotto .play-game.coming-soon::after {
  background-image: url(../images/bg_person_lotto.png);
}

/* video-poker */
.video-poker {
  position: relative;
  width: 100%;
  min-height: 94.2rem;
  background: #000 url(../images/bg_videopoker.jpg) no-repeat 50% 0 / auto 100%;
}
.video-poker .hash-tag {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.3rem 1rem;
  font-weight: 300;
  font-size: 1.8rem;
  color: #ec4318;
  background-color: #000;
}
.video-poker .hash-tag::before {
  content: '#';
}
.video-poker .info-box {
  width: 80.5rem;
  padding: 5rem 0;
}
.video-poker .info-box ul {
  padding-top: 4rem;
}
.video-poker .info-box li {
  flex: 0 0 50%;
}
.video-poker .play-game {
  width: 80.5rem;
}
.video-poker .play-game .btn-play-game {
  width: 20rem;
  height: 20rem;
  font-size: 2.6rem;
}
.video-poker .guide-form li p {
  min-height: 10rem;
  font-size: 1.8rem;
}
.video-poker .btn-more-play {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1.1rem 2.3rem 1.1rem 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  background: #eb1616 url(../images/btn_ico_play.png) no-repeat 1rem 50% / 2.6rem auto;
}
.video-poker .btn-more-discord {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1.1rem 2.3rem 1.1rem 4.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  background: #eb1616 url(../images/ico_discord_w.png) no-repeat 0.8rem 50% / 3.6rem auto;
}

.full-layer-game {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 10;
}
.full-layer-game.active {
  display: block;
}
.full-layer-game .content-game {
  position: relative;
  margin-top: 7rem;
  width: 100%;
  height: calc(100% - 13rem);
  min-height: 80rem;
  overflow: auto;
}
.full-layer-game .pop-game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 128rem;
  height: 72rem;
  margin: auto;
}
.full-layer-game iframe {
  width: 100%;
  height: 100%;
}
.full-layer-game .btn-game-close {
  position: absolute;
  top: 0;
  right: -4rem;
  width: 4rem;
  height: 4rem;
  background-color: #333;
  text-indent: -999rem;
}
.full-layer-game .btn-game-close:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0.2rem;
  height: 3rem;
  margin: auto;
  background-color: #fff;
  transform: rotate(45deg);
}
.full-layer-game .btn-game-close:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0.2rem;
  height: 3rem;
  margin: auto;
  background-color: #fff;
  transform: rotate(-45deg);
}
.full-layer-game .full-layer-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: #202020;
  z-index: 2;
}
.full-layer-game.game-video-poker {
  background: #000 url(../images/bg_videopoker.jpg) no-repeat 50% 0 / cover;
}
.full-layer-game.game-video-poker.full-screen .content-game {
  height: calc(100% - 7rem);
}
.full-layer-game.game-video-poker.full-screen .pop-game {
  width: 100%;
  min-height: 100%;
  height: 50rem;
  overflow: hidden;
}
.full-layer-game h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19rem;
  height: 100%;
}
.full-layer-game h1 a {
  display: block;
  height: 100%;
  position: relative;
  background: url(../images/img_logo.png) no-repeat 2rem 50% / 16rem auto;
  text-indent: -9999rem;
}

.full-layer-game .full-layer-nav {
  text-align: center;
}
.full-layer-game .full-layer-nav strong {
  display: inline-block;
  position: relative;
  margin-top: 0.9rem;
  padding: 1rem;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.full-layer-game .full-layer-nav strong:after {
  content: '*';
  position: absolute;
  top: 0rem;
  right: -0.6rem;
  font-weight: 300;
  font-size: 4rem;
  color: #eb1616;
}
.full-layer-game .full-layer-nav .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 16rem;
  height: 100%;
}
.full-layer-game .full-layer-nav .btn-group button {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  text-indent: -9999rem;
}
.full-layer-game .full-layer-nav .btn-new-window {
  background: url(../images/btn_new_window.png) no-repeat 50% 50% / 2.5rem auto;
}
.full-layer-game .full-layer-nav .btn-full-screen {
  background: url(../images/btn_full_screen.png) no-repeat 50% 50% / 2.5rem auto;
}
.full-layer-game .full-layer-nav .btn-close {
  background: url(../images/btn_close.png) no-repeat 50% 50% / 2.5rem auto;
}

@media screen and (max-width: 1024px) {
  .home {
    min-height: 100%;
    padding: 4.5rem 0;
    background-image: url(../images/bg_home_m.jpg);
    background-size: 100% auto;
  }

  .home h2::after,
  .home .desc::before {
    display: none;
  }

  .home .title-area {
    display: block;
  }
  .home .title-area .btn-area {
    text-align: center;
  }
  .home .btn-play-game {
    margin-top: 3.3rem;
    background-image: url(../images/btn_play_game_m.png);
  }
  .home .guide-form {
    margin-top: 9.5rem;
  }
  .home .guide-form li {
    min-height: auto;
  }

  .baccarat .play-game {
    max-width: 100%;
    margin-top: 6rem;
  }

  /* baccarat */
  .baccarat {
    min-height: 100%;
    background-image: url(../images/bg_baccarat_m.jpg);
    background-position: 50% 0;
    background-size: 100% auto;
  }
  .baccarat .desc {
    padding-right: 20rem;
  }
  .baccarat .guide-form,
  .bigwheel .guide-form,
  .lotto .guide-form {
    display: block;
    margin-top: 21.2rem;
  }

  .bigwheel {
    min-height: 100%;
    background-image: url(../images/bg_bigwheel_m.jpg);
    background-position: 50% 0;
    background-size: 100% auto;
  }

  .lotto {
    min-height: 100%;
    background-image: url(../images/bg_lotto_m.jpg);
    background-size: 100% auto;
  }

  /* mobile vpoker 
  .video-poker .video-poker-box {
    position: fixed;
    top: 10.8rem;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 10.8rem);
    z-index: 2;
  }
  .video-poker .btn-game-close {
    display: none;
  } */
}
